.env

# Composer
/vendor/

# Логи и временные файлы (но папки оставляем в Git через .gitkeep)
/storage/logs/*
!/storage/logs/.gitkeep
/storage/rate/*
!/storage/rate/.gitkeep

# Локальные настройки OSPanel
/.osp/

# IDE
.vscode/
.idea/

# Мусор ОС
Thumbs.db
.DS_Store
*.log

#  проверка подключения к БД для разработки /git rm --cached backend/_check_db.php - удалил из кэша 
/backend/_check_db.php

# проверка конфиг подключения к БД для разработки  git rm --cached backend/_check_config.php - удалил из кэша 
/backend/_check_config.php

# Локальные проверочные скрипты (не в Git)
/backend/_check_*.php
/public/_check_*.php

help.txt